{% set defaultMainImage = 'placeholder.png' %}

{% set hasMainImage = post.mainImage is defined and post.mainImage|length > 0 ? true : false %}
{% set mainImage = hasMainImage ? uploadUrl('UPLOADS_POSTS', post.mainImage) : uploadUrl('UPLOADS_POSTS', defaultMainImage) %}
{% set containerStyle = 
    "background: linear-gradient(to bottom, transparent, rgba(0,0,0,.3) 75%, rgba(0,0,0,0.9) 100%), url('" ~ mainImage ~ "') no-repeat center center / cover; height: 400px" 
%}

{% set hasComments = post.comments is defined and post.comments|length > 0 ? true : false %}

{% set categoriesClasses = '' %}
{% if post.categories is defined and post.categories|length > 0 %}
    {% set categoriesClasses %}{% for category in post.categories %}{{ ' ' ~ category.slug }}{% endfor %}{% endset %}
{% endif %}


{# Blog collection Item - Design n°2 ===================================================== #}

<article class="col-md-4 g-1 grid-item{{ categoriesClasses }}">
    <a href="{{ path('post_show', {id: post.id, slug: post.slug}) }}">
        <div style="{{ containerStyle|raw }}">
            <div class="bg-overlay position-relative">
                <div class="bg-overlay-content flex-column justify-content-end align-items-start px-5 py-4">
                    <div class="entry-meta mb-3">
                        <ul>
                            <li>{{ post.author }}</li>
                            <li>{{ post.createdAt|date('M j, Y') }}</li>
                            {% if hasComments %}
                                <li><i class="icon-comments"></i>{{ post.comments|length }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="entry-title">
                        <h3>{{ post.title|extract(40) }}</h3>
                    </div>
                    <i class="icon-line-arrow-right btn-more"></i>
                </div>
            </div>
        </div>
    </a>
</article>
