{# 
Variables:
    - photo: url of the image (value of the 'src' attribute)
    - category: add a category to this card
    - title: add a title to this card
    - lightbox: 0 to disable lightbox on click. Default: 1
    - icon: default: 'icon-line-arrow-right'
#}

{% set lightbox = lightbox is defined and lightbox is same as 0 ? false : true %}
{% set alt = alt is defined and alt is same as 0 ? false : true %}

{% set altTag %}
    {% if title is defined %}
        alt="{% if title is defined %}{{ category }}: {% endif %}{% if title %}{{ title }}{% endif %}"
    {% else %}
        alt="Photo"
    {% endif %}
{% endset %}


<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
    <div class="img-hover-card">
        {% if lightbox %}
            <a href="{{ img }}" data-lightbox="image">
        {% endif %}
                <img src="{{ img }}"{{ altTag }}>
        {% if lightbox %}</a>{% endif %}
        {% if category is defined or title is defined %}
            <div class="img-hover-detail">
                {% if category is defined %}
                    <small class="text-light ls1 fw-light">{{ category }}Travel</small>
                {% endif %}
                {% if title is defined %}
                    <h3 class="img-hover-title">
                        <a href="#">{{ title }}</a>
                    </h3>
                {% endif %}
                <div class="img-link">
                    <a href="#"><i class="{{ icon is defined ? icon : 'icon-line-arrow-right' }}"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
</div>