{# Config #}

{% set defaultAvatar = 'placeholder.png'  %}
{% set avatarSize = 60 %}
{% set dateFormat = null %}
{% set dateFormated = comment.createdAt|date("F j, Y") ~ ' at ' ~ comment.createdAt|date("g:i a") %}

{# prepare #}

{% set avatarUrl = comment.avatar is defined and comment.avatar is not null
    ? uploadUrl('UPLOADS_AUTHORS', comment.avatar)
    : uploadUrl('UPLOADS_AUTHORS', defaultAvatar)
%}
{% set avatarSize = avatarSize ?? 60 %}
{% set avatarAlt = 'Avatar of: ' ~ comment.fullName %}

{# Comment Card component ==================================================== #}

<li class="comment depth-1" id="li-comment-{{ i }}">

    <div id="comment-{{ i }}" class="comment-wrap clearfix">

        <div class="comment-meta">

            <div class="comment-author vcard">

                <span class="comment-avatar clearfix">
                <img alt='{{ avatarAlt }}' src='{{ avatarUrl }}' height='{{ avatarSize }}' width='{{ avatarSize }}' /></span>

            </div>

        </div>

        <div class="comment-content clearfix">

            <div class="comment-author">
                {{ comment.fullName }}
                <span><a href="#" title="Permalink to this comment">{{ dateFormated }}</a></span>
            </div>

            <p class="small">{{ comment.content|raw }}</p>

        </div>

        <div class="clear"></div>

    </div>

</li>