{# 
    Variables:
    - img: Image Url (value fo the 'src' attribute)
    - title: Title of the card
    - content: string|string[] If array of string: 1 string per paragraph. Default: null
    - height: Default '450px'
    - bgColor: Default '#fff
    - border: Default '1px solid #FFF'
#}


{% set height = height is defined ? 'height: ' ~ height ~ '; ' %}
{% set bgColor = bgColor is defined ? bgColor : '#fff' %}
{% set border = border is defined ? border : '1px solid #FFF' %}


<div class="col-lg-4 col-md-6 mt-3">
    <div class="card shadow-sm d-flex align-items-end flex-column p-3" style="{{ height }}background-color: {{ bgColor }}; border: {{ border }}">
        <div></div>
        <div class="mt-auto">
            <div class="card-body">
                <img src="{{ img }}" width="40" alt="{{ alt is defined ? alt : 'Image' }}" class="mb-4">
                <h4 class="card-title fw-normal">{{ title }}</h4>

                {% if content is defined %}
                    {% if content is iterable %}
                        {% for paragraph in content %}
                            <p class="card-text mb-0 mt-2 fw-light">{{ paragraph }}</p>
                            {% if paragraph is same as(content|last) %}<br>{% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="card-text mb-0 mt-2 fw-light">{{ content }}</p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>