{# Mandatory variables:
    - pages: <array[]> [[<int> number, <string> url],...]
    - prevUrl: <string>
    - nexUrl: <string>
#}
    
{# Optional variables:#}
    {% set prevLabel = prevLabel is defined ? nexprevLabeltLabel : '«' %}
    {% set nextLabel = nextLabel is defined ? nextLabel : '»' %}
    {% set longDesc = longDesc is defined ? longDesc : 0 %}
    {% set liStyle = liStyle is defined ? liStyle : '' %}


<div class="pagination-container topmargin mb-0">
    <ul class="pagination m-0">
        <li class="page-item previous_link">
            <a class="page-link" href="{{ prevUrl }}">{{ prevLabel }}</a>
        </li>
        {# <li class="page-item disabled ellipse less" style="display: none;">
            <a class="page-link" href="#">...</a>
        </li> #}
        {% for page in pages %}
            <li class="page-item page_link first" longdesc="{{ longDesc }}" style="{{ liStyle }}">
                <a class="page-link" href="{{ page.1 }}">{{ page.0 }}</a>
            </li>
        {% endfor %}
        {# <li class="page-item disabled ellipse more" style="display: none;">
            <a class="page-link" href="#">...</a>
        </li> #}
        <li class="page-item next_link no_more">
            <a class="page-link" href="{{ nextUrl }}">{{ nextLabel }}</a>
        </li>
    </ul>
</div>