{# Variables:
    - contactLink: Target url on click
    - contactLabel: Button label. Default: 'Contact Me'
    - btnIcon: optionnal. Default: 'icon-line2-envelope' (icons list: https://themes.semicolonweb.com/html/canvas/icons.html)
    - contactLink: Target url onclick
    - socials: (optional)
        - slug: eg. 'facebook', 'twitter',...
        - link: eg. 'https://twitter.com/myname' (open a new tab: traget=_blank)
#}

{# Prepare #}

    {% set btnIcon = btnIcon is defined ? btnIcon : 'icon-line2-envelope' %}

{# Render #}

<div class="d-flex align-items-center mt-4">

    {% include "_elements/button.html.twig" with {
        url: url,
        label: label
    } %}
    {# <a href="{{ contactLink }}" class="button button-change button-large button-rounded nott fw-light m-0 overflow-hidden">
        <span>
            {% if btnIcon is not null %}<i class="{{ btnIcon }}"></i>{% endif %}
            {{ contactLabel is defined ? contactLabel : 'Contact us'}}
        </span>
    </a> #}
    {% if socials is defined %}
        {% for social in socials %}
            <a href="{{ social.link }}" target="_blank" class="my-0 me-0 ms-3 social-icon inline-block si-small si-borderless si-{{ social.slug }}">
                <i class="icon-{{ social.slug }}"></i>
                <i class="icon-{{ social.slug }}"></i>
            </a>
        {% endfor %}
    {% endif %}
</div>