{# Mandatory variables:
    - title: <string>
    - img: <string|array> url of an image or array of images urls
    - zoom: <string> url to an image of video
    - link: <string> Target url on click
    - categories: <array[]> [[<string> label, <string> url>, <array: [<string> class, <string> label]> filter ]]
#}

{# Optionnal variables:
    - video: <bool> true if is 'zoom' a video
#}

{# Config #}

{% set showIcon = 'icon-line-zoom-in' %}
{% set viewIcon = 'icon-line-eye' %}
{% set zoomTitle = 'View image' %}

{# Prepare #}

{% set mainImage = project.mainImage %}
{% set mainImage = uploadUrl('UPLOADS_PROJECTS', mainImage) %}
{% set projectUrl = path('project_show', {id: project.id, slug: project.slug}) %}

{% set isGallery = false %}
{% set dataLightbox = 'image' %}
{% if project.video is defined and project.video is same as(true) %}
    {% set showIcon = 'play' %}
    {% set dataLightbox = 'iframe' %}
    {% set zoomTitle = 'Show video' %}
{% elseif mainImage is iterable %}
    {% if project.zoom is iterable %}
        {% set isGallery = true %}
        {% set showIcon = 'stack-2' %}
        {% set dataLightbox = 'gallery-item' %}
        {% set zoomTitle = 'View diaporama' %}
    {% else %}
        {% set mainImage = mainImage.0 %}
    {% endif %}
{% endif %}

{% set categoriesClasses = '' %}
{% if project.categories is defined and project.categories|length > 0 %}
    {% set categoriesClasses %}{% for category in project.categories %}{{ ' ' ~ category.slug }}{% endfor %}{% endset %}
{% endif %}


{# Portfolio Collection Item ============================================================ #}

<article class="portfolio-item col-md-4 col-sm-6 col-12{{ categoriesClasses }}">
    <div class="grid-inner">
        <div class="portfolio-image">

            {% if isGallery %}

                <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                    <div class="flexslider">
                        <div class="slider-wrap">

                            {% for image in gallery %}
                                <div class="slide"><a href="{{ projectUrl }}"><img src="{{ image }}" alt="{{ project.title }}"></a></div>
                            {% endfor %} 

                        </div>
                    </div>
                </div>

            {% else %}

                <a href="{{ projectUrl }}">
                    <img src="{{ mainImage }}" alt="{{ project.title }}">
                </a>

            {% endif %}

            <div class="bg-overlay"{{ isGallery ? '  data-lightbox="gallery"' : '' }}>
                <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
                    <a href="{{ mainImage }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="{{ dataLightbox }}" title="{{ zoomTitle }}">
                        <i class="{{ showIcon }}"></i>
                    </a>
                    
                    {% if isGallery %}
                        {% for image in project.gallery %}
                            {% if image is not same as(project.gallery|first) %} {# avoid to repeat the 1st slide#}
                                <a href="{{ image }}" class="d-none" data-lightbox="gallery-item"></a>
                            {% endif %}
                        {% endfor %}

                    {% endif %}

                    <a href="{{ projectUrl }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item">
                        <i class="{{ viewIcon }}"></i>
                    </a>
                </div>
                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="{{ projectUrl }}">{{ project.title }}</a></h3>
            <span>

                {% for index, category in project.categories %}
                    <a href="{{ path('project_category', {slug: category.slug}) }}">{{ category.label }}</a>{% if index < (project.categories|length - 1) %}, {% endif %}
                {% endfor %}

            </span>
        </div>
    </div>
</article>