

{# settings #}

{% set avatarSize = 60 %}
{# {% set dateFormat = '' %} #}

{# prepare #}

{% set avatar = comment.avatar ?? 'https://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' %}
{% set avatarSize = avatarSize ?? 60 %}
{% set avatarAlt = comment.author ? 'Avatar of: ' ~ comment.author : 'Avatar' %}
{% set dateFormated = dateFormat ?? comment.createdAt|date("F j, Y") ~ ' at ' ~ comment.createdAt|date("g:i a") %}

{# render #}

<li class="comment depth-1" id="li-comment-{{ i }}">

    <div id="comment-{{ i }}" class="comment-wrap clearfix">

        <div class="comment-meta">

            <div class="comment-author vcard">

                <span class="comment-avatar clearfix">
                <img alt='{{ avatarAlt }}' src='{{ avatar }}' height='{{ avatarSize }}' width='{{ avatarSize }}' /></span>

            </div>

        </div>

        <div class="comment-content clearfix">

            <div class="comment-author">
                {{ comment.author }}
                <span><a href="#" title="Permalink to this comment">{{ dateFormated }}</a></span>
            </div>

            <p>{{ comment.content|raw }}</p>

            <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>

        </div>

        <div class="clear"></div>

    </div>

</li>