{# Config

    Mandatory variables:
        - projects: <Project[]> Array of Project objects

    Optionnal variables:
        - showCategories: <bool>
        - zoomIcon: <string> Icon to open lightbox onClick
        - viewProjectIcon: <string> Icon to redirect to project onClick
        - defaultThumbnail: <string> Default image name in case the project thumbnail is missing
        - cols <int> NUmber of columns. Default: 4

#}

    {% set projects = projects %}

    {% set showCategories = false %}
    {% set zoomIcon = 'icon-line-zoom-in' %}
    {% set viewProjectIcon = 'icon-line-eye' %}
    {% set defaultThumbnail = 'placeholder.png' %}

{# Prepare #}

    {% set cols = cols is defined and cols is not null ? cols : 4 %}


{# Projects Carousel element ===================================================== #}

<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="30" data-nav="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="{{ cols }}" data-items-xl="{{ cols }}">
    {% for project in projects %}

        {% set projectUrl = path('project_show', {id: project.id, slug: project.slug}) %}
        {% set thumbnailUrl = project.thumbnail is defined and project.thumbnail is not null 
            ? uploadUrl('UPLOADS_PROJECTS_THUMB', project.thumbnail) 
            : uploadUrl('UPLOADS_PROJECTS_THUMB', defaultThumbnail)
        %}

        <div class="oc-item">
            <div class="portfolio-item portfolio-carousel-item no-min-height">

                <div class="portfolio-image">
                    <a href="{{ projectUrl }}">
                        <img src="{{ thumbnailUrl }}" alt="Open Gallery">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                            <a href="{{ thumbnailUrl }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="image">
                                <i class="{{ zoomIcon }}"></i>
                            </a>
                            <a href="{{ projectUrl }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350">
                                <i class="{{ viewProjectIcon }}"></i>
                            </a>
                        </div>
                        <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
                    </div>
                </div>

                <div class="portfolio-desc">
                    <h3><a href="{{ projectUrl }}">{{ project.title }}</a></h3>

                    {% if showCategories %}
                        <span>
                        {% for category in project.categories %}
                            {% if category is not same as(project.categories|first) %}, {% endif %}
                            <a href="{{ path('project_category', {slug: category.slug}) }}">{{ category.label }}</a>
                        {% endfor %}
                        </span>
                    {% endif %}
                </div>

            </div>
        </div>

    {% endfor %}
</div>