{# Config 

    Mandatory variables:
        - skills: <array[]> Array of skills: [ [ skill: <string>, percent: <int> ], ... ]

#}

    {% set title = skills.title %}
    {% set desc = skills.desc %}
    {% set skills = skills.skills %}

    {# All skills values #}
    {% set dataFrom = 0 %}
    {% set dataRefreshInterval = 30 %} 
    {% set dataSpeed = 1100 %}

{# Prepare #}

    {% set hasTitle = title is defined and title is not null ? true : false %}
    {% set hasDesc = desc is defined and desc is not null ? true : false %}


{# Skill Counters element ======================================================= #}

    {% if hasTitle %}
        <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
            <h4>{{ title|raw }}</h4>
        </div>
    {% endif %}

    {% if hasDesc %}
        <p>{{ desc|raw }}</p>
    {% endif %}

    <ul class="skills">

        {% for skill in skills %}

            {% set name = skill.0 %}
            {% set percentage = skill.1 %}

            <li data-percent="{{ percentage }}">
                <span>{{ name }}</span>
                <div class="progress">
                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="{{ dataFrom }}" data-to="{{ percentage }}" data-refresh-interval="{{ dataRefreshInterval }}" data-speed="{{ dataSpeed }}"></span>%</div></div>
                </div>
            </li>

        {% endfor %}

    </ul>