{# Config

    Mandatory variables:
        - socials: <array{}> Array of social objects:
            [
                {
                    link: <string> Url (href attribute)
                    icon: <string> Icon class. Eg 'icon-linkedin' (list of icons: https://themes.semicolonweb.com/html/canvas/icons.html)
                    color: <string> Optionnal. Eg. 'facebook', 'twitter',... Value must be defined in '_variables.scss' under $si-colors
                }, {
                    ...
                }
            ]
    
    Optionnal variables:
        - type: <string> Available types: 'footer'

#}

{# Prepare #}

    {% set social = socials %}
    {% set type = type is not defined or (type is defined and type is same as('default')) 
        ? 'default' : type 
    %}


{# Skill Counters element ======================================================= #}

<div>

    {% for social in socials %}

        {% set icon = social.icon %}
        {% set href = social.link %}
        {% set hoverColorClass = social.color is defined and social.color is not null 
            ? ' si-' ~ social.color : ''  
        %}

        {% if type is same as('footer') %}
            <a href="{{ href }}" target="_blank" class="social-icon inline-block si-small si-borderless mb-0{{ hoverColorClass }}">
        {% elseif type is same as('default') %}
            <a href="{{ href }}" class="social-icon inline-block si-small si-light si-rounded{{ hoverColorClass }}">
        {% endif %} 
                <i class="{{ icon }}"></i>
                <i class="{{ icon }}"></i>
            </a>

    {% endfor %}

</div>