{# Ref: 
- https://themes.semicolonweb.com/html/canvas/about.html
- Carousel in bottom of page: https://themes.semicolonweb.com/html/canvas/about-me.html 
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block title %}About{% endblock %}
{% set breadcrumb = [
    {label: 'Home', url: '/'},
    {label: 'About', active: true}
] %}
		
{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'About',
        subtitle: null
    } %}

{% endblock %}

{% block main %}

    <section id="content">
        <div class="content-wrap">

            {# portrait #}
            <div class="section bg-transparent py-0">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-padding{# order-md-last #}">
                            {% include "_elements/flexslider-small.html.twig" with {
                                slides: [
                                    {img: asset('build/images/home/edouard.jpg')},
                                    {img: asset('build/images/home/edouard-nb.jpg')}
                                ]
                            } %}
                        </div>

                        <div class="col-lg-9 col-md-7 col-padding">
                            <div class="heading-block">
                                <small class="text-muted text-uppercase fw-light ls4 mb-1 d-block">Full-Stack Developer</small>
                                <h3>Edouard Proust</h3>
                            </div>

                            <div class="col">
                                <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                {% include "_elements/social-icons.html.twig" with { 
                                    type: 'default',
                                    socials: [
                                        {icon: 'icon-linkedin', link: config('SOCIAL_LINKEDIN'), color: null},
                                        {icon: 'icon-github', link: config('SOCIAL_GITHUB'), color: null},
                                        {icon: 'icon-stackoverflow', link: config('SOCIAL_STACKOVERFLOW'), color: null}
                                    ] 
                                } %}
                                {% if config('ABOUT_CV') is not null %}
                                    {% include "_elements/button.html.twig" with {
                                        url: uploadUrl('UPLOADS_ADMIN_OPTIONS', config('ABOUT_CV')),
                                        label: "View my CV",
                                        icon: "icon-line-file",
                                        margin: "me-3",
                                        targetBlank: true
                                    } %}
                                {% endif %}
                                {% include "_elements/button.html.twig" with {
                                    url: path('contact'),
                                    label: "Contact me",
                                    icon: 'icon-line2-envelope'
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# skills columns #}
            <div class="section bg-transparent">
            <div class="container clearfix">
            
                {% set skillColumns = [ {
                        title: 'languages & Frameworks',
                        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, libero perspiciatis. Ipsa, incidunt?',
                        skills: [
                            ['PHP', 80],
                            ['Object-oriented Programming', 60],
                            ['Symfony', 85],
                            ['Javascript', 90],
                            ['CSS + Sass', 70],
                            ['SQL', 85],
                        ] 
                    },{
                        title: 'Libraries & Tools',
                        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iure molestiae, beatae corrupti maiores iste. Quibusdam, animi quasi.',
                        skills: [
                            ['Docker', 85],
                            ['WebPack Encore', 85],
                            ['Git / GitHub / GitLab', 85],
                            ['Trello', 85]
                        ]
                    },{
                        title: 'No code',
                        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore ipsam repellendus tenetur sunt neque.',
                        skills: [
                            ['Wordpress', 90],
                            ['Shopify', 70],
                            ['Webflow', 85]
                        ]
                    },{
                        title: 'Knowledge & Methodology',
                        desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, amet.',
                        skills: [
                            ['UX & UI Design', 80],
                            ['Marketing & online sales (e-commerce)', 60],
                            ['ULM Schemes', 85]
                        ] 
                } ] %}

                <div class="row col-mb-50">
                    {% for column in skillColumns %}
                        {% set colWidth = skillColumns|length <= 3 ? 12 / skillColumns|length : 6 %}
                        <div class="col-lg-{{ colWidth }}">
                            {% include "_elements/skill-counters.html.twig" with { skills: column } %}
                        </div>
                    {% endfor %}
                </div>

            </div>
            </div>

            {# some projects #}
            <div class="section">
				<div class="container">
					{% include "_elements/section-title.html.twig" with {
						section: null,
						title: 'Some of my <span>Projects</span>',
						offsetLeft: false,
						content: "Awesome Works that I've contibuted to. Proudly!"
					} %}
                    {% include "_elements/projects-carousel.html.twig" with {projects: projects} %}
                </div>
            </div>

            {# Counters #}
            <div class="section bg-transparent footer-stick">
                <div class="container clearfix">

                    {% include "_sections/counters.html.twig" with { counters: [
                        {
                            icon: 'icon-line2-clock',
                            title: 'hours of coding',
                            to: stats.daysOfCoding * (5 / 7) * 5,
                            after: '+',
                            interval: 25,
                            speed: 2000
                        },{
                            icon: 'icon-code1',
                            title: 'Mastered languages',
							content: 'Including ' ~ stats.languages.list ~ '.',
                            to: stats.languages.count,
                            interval: 100,
                            speed: 2500,
                            delay: 200
                        },{
                            icon: 'icon-line2-layers',
                            title: 'Frameworks and bundles',
							content: stats.technologies.list,
                            to: stats.technologies.count,
                            interval: 25,
                            speed: 3500,
                            delay: 400
                        },{
                            icon: 'icon-line2-graph',
                            title: 'Projects on Github',
                            to: stats.githubRepositories|length,
                            interval: 30,
                            speed: 2700,
                            delay: 600
                        },
                    ] } %}

                </div>
            </div>

        </div>
    </section>

{% endblock %}
