{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block hero %}
	{# title rotation: 
		{before: <string>, rotate: <string>, 'after: <string>} 
		Separate 'words' with a "|". Eg: "These|words|will|rotate" 
	#}	
    <section class="include-header" style="height: 100vh; background: url('{{ asset('build/images/dots-1.png') }}') 100% 0 no-repeat; background-size: 60% auto">
		{% include "_sections/home/hero.html.twig" with {
			section: "Hello,",
			title: {
				before: "I am a ", 
				words:"full-stack|PHP|javascript|Symfony",
				after: "<br>developer" 
			},
			headline: "I don't just build web apps. I build web apps that SELL.",
			contactButtons: {
				label: 'View my works',
				url: path('projects'),
				btnIcon: null,
				socials: [ 
					{ slug: 'email3', link: 'mailto:' ~ config('CONTACT_EMAIl') },
					{ slug: 'github', link: config('SOCIAL_GITHUB') },
					{ slug: 'linkedin', link: config('SOCIAL_LINKEDIN') }
				]
			},
			slider: {
				slides: [
					{img: asset('build/images/home/hero/coding-1.svg')},
					{img: asset('build/images/home/hero/coding-2.svg')},
				],
				options: {}
			}
		} %}
    </section>

{% endblock %}
		
{% block main %}

	<section id="content">
		<div class="content-wrap pt-0">

			{# flip cards #}
			{% include "_sections/home/flip-cards.html.twig" with {
				section: 'References',
				title: "Let's bring your project <span>to life</span> together.",
				content: "I assist you on your web or marketing project from A to Z, from design to online.",
				columns: 4,
				removeVerticalMargins: true,
				cards: [ {
                        icon: 'icon-code',
                        title: 'Web developement',
                        contentFront: 'You or you company needs a website or an application made in PHP and javascript.',
                        contentBack: 'Let\'s talk about your projet in order to establish the architecture of the application.',
                        imgBack: asset('build/images/home/flip/web-developement.jpg'),
                        btnLabel: 'See references',
                        btnLink: path('project_category',{slug: 'programming'})
                    },{
                        icon: 'icon-shopping-cart',
                        title: 'Marketing & Ecommerce expertise',
                        contentFront: 'You have an online store and you want to go to the next level (rebranding, sales tunnel optimization, scaling).', 
                        contentBack: 'I will conduct a complete review of your current marketing strategy and develop a phased growth plan.',
                        imgBack: asset('build/images/home/flip/ecommerce.jpg'),
                        btnLabel: 'See references',
                        btnLink: path('project_category',{slug: 'ecommerce'})
                    },{
                        icon: 'icon-shapes',
                        title: 'Brand creation',
                        contentFront: 'You want to launch your brand and want to have a custom brand with a unique identity that inspires your target customer.',
                        contentBack: 'I create your logo, define the color and typographic code of the brand, as well as banner designs.',
                        imgBack: asset('build/images/home/flip/branding.jpg'),
                        btnLabel: 'See references',
                        btnLink: path('project_category',{slug: 'branding'})
					},{
                        icon: 'icon-video',
                        title: 'Video editing',
                        contentFront: 'You have a video project: advertising for social networks, video presentation of your brand, realization of an animated logo.',
                        contentBack: 'I make dynamic montages highlighting your brand or product.',
                        imgBack: asset('build/images/home/flip/videos.jpg'),
                        btnLabel: 'See references',
                        btnLink: path('project_category',{slug: 'videos'})
				} ]
			} %}

			{# 3d cards #}
			<div class="section bg-transparent">
				<div class="container">
					{% include "_elements/section-title.html.twig" with {
						section: 'Web developement',
						title: "I've been coding every single day for the last <span>" ~ stats.daysOfCoding ~ " days</span>.",
						offsetLeft: true,
						content: 'Here is a glimpse of a few projects i worked on.'
					} %}

					{% include "_elements/gallery-masonry-3d.html.twig" with { 
						cards : featuredProjects
					} %}
					
					{# {% include "_elements/section-paragraph-left.html.twig" with {
						title: 'See what I Did.',
						content: [
							'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?',
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatum, perspiciatis quae dolorum exercitationem quos ullam, doloribus voluptates nulla reprehenderit maxime sunt ducimus eligendi ratione quaerat vero ex voluptatem earum.'
						] 
					} %} #}

				</div>
			</div>

			{# counters #}

			<div class="section" style="background: #FFF url('{{ asset('build/images/dots.png') }}') 170% 0% no-repeat; background-size: 60% auto">
                <div class="container clearfix">

                    {% include "_sections/counters.html.twig" with { counters: [
                        {
                            icon: 'icon-line2-clock',
                            title: 'hours of coding',
                            to: stats.daysOfCoding * (5 / 7) * 5,
                            after: '+',
                            interval: 25,
                            speed: 2000
                        },{
                            icon: 'icon-code1',
                            title: 'Mastered languages',
							content: 'Including ' ~ stats.languages.list ~ '.',
                            to: stats.languages.count,
                            interval: 100,
                            speed: 2500,
                            delay: 200
                        },{
                            icon: 'icon-line2-layers',
                            title: 'Frameworks & libraries',
							content: stats.technologies.list,
                            to: stats.technologies.count,
                            interval: 25,
                            speed: 3500,
                            delay: 400
                        },{
                            icon: 'icon-line2-graph',
                            title: 'Projects on Github',
                            to: stats.githubRepositories|length,
                            interval: 30,
                            speed: 2700,
                            delay: 600
                        },
                    ] } %}

                </div>
            </div>
			
			{# clients #}
			{# {% include "_sections/home/clients.html.twig" with {
				section: 'Trusted Partners',
				title: 'Happy Clients',
				columns: 12
			} %} #}

			{# services cards #}

			{# {% include "_sections/home/services.html.twig" with {
				section: 'Steps of Works',
				title: 'See How I Do.',
				cards: [
					{
						img: asset('build/images/icons/shutter.svg'),
						title: 'Updated Lenses:',
						content: [
							'Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.',
							'Objectively productivate interoperable process improvements.'
						]
					}, {
						img: asset('build/images/icons/video-camera.svg'),
						title: 'Most Edited Tools:',
						content: [
							'Objectively productivate interoperable process improvements after team building.',
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores sit, corrupti laborum ab.'
						]
					}, {
						img: asset('build/images/icons/lr.svg'),
						title: 'Film Making:',
						content: [
							'Objectively productivate interoperable process improvements.',
							'Team building testing procedures. Distinctively architect resource-leveling portals.'
						]
					}
				]
			} %} #}
			
			{# contact & testimonials #}
			{% include "_sections/home/footer-contact.html.twig"  with {
				section: "Contact",
				title: "Let's get <span>in touch</span>.",
				content: "You have a project to realize or you are looking for a new collaborator within your company? I am always looking for new challenges! Do not hesitate to write to me so that we can talk about it together.",
				testimonials: false,
				socials: [ 
					{ slug: 'email3', link: 'mailto:' ~ config('CONTACT_EMAIl') },
					{ slug: 'github', link: config('SOCIAL_GITHUB') },
					{ slug: 'linkedin', link: config('SOCIAL_LINKEDIN') }
				]
			} %}

		</div>
	</section>

{% endblock %}