{# Options #}

	{% set section = section %}
	{# iitle rotation: 
		{before: <string>, rotate: <string>, 'after: <string>} 
		Separate 'words' with a "|". Eg: "These|words|will|rotate" 
	#}
	{% set title = title %}
	{% set headline = headline %}
	{% set slides = slides %}

	{% set slideDefaultHeight = "400px" %}
	{% set sliderAutoplay = "true" %}
	{% set sliderTouch = "true" %}
	{% set sliderSmoothHeight = "false" %}
	{% set sliderAnimation = "fade" %}
	{% set sliderArrows = "false" %}
	{% set sliderPagination = "true" %}

	{% set titleCursor = "false" %}

{# Render #}

<div class="slider-inner">

	<div class="vertical-middle">
		<div class="container parallax py-5" data-0="opacity: 1; overflow: visible; margin-top:0px" data-top-bottom="opacity: 0; overflow: visible; margin-top:100px">

			<div class="row align-items-center col-mb-50">
					<div class="col-md-6">
					<div class="py-5 py-md-0">
						<small class="text-muted text-uppercase fw-light ls4 mb-1 d-block">{{ section }}</small>
						<h1 class="fw-bold text-rotater" data-cursor={{ titleCursor }}>
							{% if title.words is not defined %}
								{{ title }}
							{% else %}
								<span class="t-rotate-texts d-none">{{ title.words }}</span>
								{{ title.before is defined ? (' ' ~ title.before)|raw : '' }} <span class="t-rotate nocolor"></span>{{ title.after is defined ? (' ' ~ title.after)|raw : '' }}
							{% endif %}
						</h1>

						<h5 class="fw-light ls1" style="opacity: .7">{{ headline }}</h5>
						
						{% include "_elements/contact-button-section.html.twig" with {
							label: 'View my works',
							url: path('projects'),
							btnIcon: null,
							socials: [ 
								{ slug: 'email3', link: 'mailto:' ~ config('CONTACT_EMAIl') },
								{ slug: 'github', link: config('SOCIAL_GITHUB') },
								{ slug: 'linkedin', link: config('SOCIAL_LINKEDIN') }
							]
						} %}
						
					</div>
				</div>

				<div class="col d-flex">
					<div class="col"></div>
					<div class="col-lg-6 col-sm-12 ps-md-5 ps-lg-0">
						<div class="fslider" data-slideshow={{ sliderAutoplay }} data-smooth-height={{ sliderSmoothHeight }} data-animation={{ sliderAnimation }} data-arrows={{ sliderArrows }} data-pagi={{ sliderPagination }}>
							<div class="flexslider">
								<div class="slider-wrap">

									{% for slide in slides %}

										{% set img = slide.img %}
										{% set height = slide.height ?? slideDefaultHeight %}

										<div class="slide rounded">
											<div 
												style="height:{{ height }}; background: url('{{ asset(img) }}') center center no-repeat; background-size: cover;"
											></div>
										</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
				
		</div>

	</div>
</div>