{# Mandatory variables:
    - comments: <Comment[]> Array of Comment objects
#}


{# Comments section (on 'show' template) ============================================ #}

{% if commentForm is not null %}

    <div id="comments" class="clearfix">

        {% if visibleComments|length > 0 %}
            
            <h3 id="comments-title" class="mb-3">
                <span>{{ visibleComments|length }}</span> Comments
            </h3>

            {# Comments List #}

            <ol class="commentlist clearfix">
                {% for i, comment in visibleComments %}
                    {% include "_elements/card-comment.html.twig" with { comment: comment } %}
                {% endfor %}
            </ol>
            <div class="clear"></div>
            
        {% endif %}

        {# Form #}

            <div id="respond">

                <h3>Leave a <span>Comment</span></h3>

                {% include "_elements/alert.html.twig" with {
                    successGroup: 'commentSubmitSuccess'
                } %}

                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                {{ form_errors(commentForm) }}
                {% include "_elements/button.html.twig" with {
                    type: 'submit',
                    label: "Submit"
                } %}
                {{ form_end(commentForm) }}


            </div>

    </div>

{% endif %}