{# Config 

    Mandatory variables:
        - title: <string>

    Optionnal variables:
        - subtitle: <string> Page description
        - breadcrumb: <array{}> Array of link objects:
            {% set breadcrumb = [
                { label: 'Home', url: '#'},
                { ... },
                { label: 'Portfolio', active: true},
            ] %} 
        - shapeDivider = <string> eg. 'slant' Browse shapes: https://themes.semicolonweb.com/html/canvas/shape-dividers.html
        - shapeDividerReverse: <bool>
        - h1LineHeight: <string> eg. '3.2rem'
        - animationDuration = <string> eg. '600ms'
#}

{# set shapeDivider = 'slant' #}
{# set shapeDividerReverse = true #}
{% set h1LineHeight = '3.2rem' %}
{% set animationDuration = '600ms' %}


{# Prepare #}

    {# design #}
    {% set animationDurationAttr = animationDuration is defined ? ' style="animation-duration: ' ~ animationDuration ~ '"' : '' %}
    {% set shapeDividerExtraClass = shapeDividerReverse is defined and shapeDividerReverse is same as(true) ? ' reverse' : '' %}

{# Title Page section (Default) ======================================================== #} 

    <section id="page-title" class="page-title-pattern">

    <div class="container clearfix">

        {% if breadcrumb is defined %}
            <div class="small fadeInDown animated" data-animate="fadeInDown"{{ animationDurationAttr|raw }}>
                {% include "_elements/breadcrumb.html.twig" with {
                    links: breadcrumb
                } %}
            </div>
        {% endif %}
        

        <div class="fadeInUp animated" data-animate="fadeInUp"{# data-delay="200" #}{{ animationDurationAttr|raw }}>
            <h1 class="fw-bold ls0 mb-3" style="font-size:46px; line-height:{{ h1LineHeight }}" >{{ title }}</h1>

            {% if subtitle is defined and subtitle is not null %}
                    <div class="page-description" style="opacity: .7">
                        {{ subtitle }}
                    </div>
                
            {% endif %}

        </div>
    </div>

    {% if shapeDivider is defined %}
        <div class="shape-divider{{ shapeDividerExtraClass }}" 
            data-shape="{{ shapeDivider }}" 
            data-position="bottom" 
            data-height="70"
        >
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="op-ts op-1">
                <path class="shape-divider-fill" d="M0,6V0h1000v100L0,6z"></path>
            </svg>
        </div>
    {% endif %}

</section>