{# Config 

    Mandatory variables:
        - post: <Project> The current Project

    Optionnal variables:
        - breadcrumb: <array{}> Array of link objects:
            {% set breadcrumb = [
                { label: 'Home', url: '#'},
                { ... },
                { label: 'Portfolio', active: true},
            ] %} 
#}

{% set animation = 'fadeInUp' %}
{% set shapeDivider = 'slant' %} {# Browse shapes: https://themes.semicolonweb.com/html/canvas/shape-dividers.html #}
{% set shapeDividerReverse = true %}
{% set h2LineHeight = '3.2rem' %}


{# Prepare #}

{% set animationClass = animation is defined ? ' ' ~ animation ~ ' animated' : '' %}
{% set animationAttr = animation is defined ? ' data-animate="' ~ animation ~ '"' : '' %}
{% set shapeDividerExtraClass = shapeDividerReverse is defined and shapeDividerReverse is same as(true) ? ' reverse' : '' %}


{# Title Page section (for Project 'show' templates)======================================================== #} 

<section id="page-title" class="page-title-pattern project-show">

    <div class="container clearfix">

        {% if breadcrumb is defined %}
            {% include "_elements/breadcrumb.html.twig" with {
                links: breadcrumb
            } %}
        {% endif %}

        <div class="small {{ animationClass }}"{{ animationAttr }}{# data-delay="200" #}{# style="animation-duration: 600ms" #}>
            <h2 class="fw-bold ls0 mb-3" style="font-size:46px; line-height:{{ h2LineHeight }}" >
                {{ post.title }}
            </h2>
        </div>
        
    </div>

    {% if shapeDivider is defined %}
        <div class="shape-divider{{ shapeDividerExtraClass }}" 
            data-shape="{{ shapeDivider }}" 
            data-position="bottom" 
            data-height="70"
        >
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="op-ts op-1">
                <path class="shape-divider-fill" d="M0,6V0h1000v100L0,6z"></path>
            </svg>
        </div>
    {% endif %}

</section>