{% extends '_layout/collection.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('lessons') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('lessons') }}
{% endblock %}

{# Config #}

{% block title %}Lessons{% endblock %}

{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Lessons', active: true}
] %}
{% set collection_filters = [
    {
        collection: codingLanguagesFilter,
        showAllLabel: 'All languages'
    }, {
        collection: categoriesFilter,
        showAllLabel: 'All categories'
    }
] %}

{# Collection of Posts =============================================== #}

{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'Lessons',
        subtitle: 'Learn coding or improve your skills.'
    } %}
    
{% endblock %}

{% block content %}

    {% if lessons is defined and lessons|length > 0 %}
        {{ parent() }}
        <div id="collection" class="row grid-container">
            {% for lesson in lessons %}
                {% include "_elements/lesson-collection-item.html.twig" %}
            {% endfor %}
        </div>
    {% else %}
        No Lesson yet.
    {% endif %}

{% endblock %}