{% extends '_layout/collection.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('lessons') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('lessons') }}
{% endblock %}

{# Config #}

{% block title %}Lessons{% endblock %}

{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Lessons', active: true}
] %}
{% set collection_filters = [
    {
        collection: codingLanguagesFilter,
        showAllLabel: 'All',
        label: 'Language'
    }, {
        collection: categoriesFilter,
        label: 'Category'
    }
] %}

{# Collection of Posts =============================================== #}

{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'Lessons',
        subtitle: 'Notes taken during my learning of the code. These notes not only serve me as a reminder in my work but can also be used by others to complete their knowledge of programming.'
    } %}
    
{% endblock %}

{% block content %}

    {% include "_elements/button.html.twig" with {
        label: 'View archives',
        icon: 'icon-line-archive',
        url: 'http://phpstack-749317-2528704.cloudwaysapps.com/lessons-list.php',
        target: '_blank',
        margin: 'mb-3',
        border: true,
        size: 'small',
        rounded: true
    } %}

    {% if lessons is defined and lessons|length > 0 %}
        {{ parent() }}
        <div id="collection" class="row grid-container">
            {% for lesson in lessons %}
                {% include "_elements/lesson-collection-item.html.twig" %}
            {% endfor %}
        </div>
    {% else %}
        No Lesson yet.
    {% endif %}

{% endblock %}