{% extends '_layout/lesson.html.twig' %}
{% set post = lesson %}{# <-- Make template compatible with lessons #}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('content') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('ui') }}
{% endblock %}


{# Config 

    Mandatory variables:
        - block 'title': displayed on browser tab
        - page_title: <string> Used in 'title-page.html.twig' section
        - post: <Post> The blog post object (set in controller)

    Optionnal variables 
        - whiteLogo: <bool>
        - breadcrumb: <object[]> Used in 'title-page.html.twig' section
            Array of objects: [{ label: <string>, url: <string> }, ... ]
        - showAuthor: <bool>
        - showComments: <bool>
        - showPostNavigation: <bool> If set on true, youn must also set (mandatory):
            - prevNextLinks: <array[]> Array containing data for each link (previous and next):
                [ 'prev' => ['url' => string, 'title' => string], 'next' => ['url' => string, 'title' => string] ]
#}

{% block title %}Lesson | {{ lesson.title|extract(30) }}{% endblock %}

{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Lessons', url: path('lessons')},
    {label: lesson.title, active: true}
] %}
{% set showPostNavigation = true %}
{% set showAuthor = true %}
{% set showComments = true %}
{% set prevNextLinks = prevNextLinks %}
{% set author_routeName = 'author_lessons' %}


{# Show one Lesson ================================================================== #}

{% block hero %}

    {% include "_sections/page-title/lesson-show.html.twig" with { 
        post: lesson
	} %}

{% endblock %}

{% block content %}

	{% if lesson.headline is not null %}
		<div class="page_headline">
			{{ lesson.headline }}
		</div>
	{% endif %}

    {{ lesson.content|raw }}

{% endblock %}
