{# Config #}

    {% set isHeaderSticky = false %}
    {% set headerAnimation = null %} {# eg. 'fadeInDown' or null to desactivate. Animations list: https://themes.semicolonweb.com/html/canvas/animations.html #}
    {% set siteName = config('SITE_NAME') %}
    {% set logo = config('SITE_LOGO') %}
    {% set headerLogoHeight = config('SITE_LOGO_HEIGHT') %}
    {% set favicon = config('SITE_FAVICON') %}

    {% set headerMenu = [
        {label: 'Home', url: path('home')},
        {label: 'Portfolio', url: path('projects')},
        {label: 'Lessons', url: path('lessons')},
        {label: 'Blog', url: path('posts')},
        {label: 'About', url: path('about')},
        {label: 'Contact', url: path('contact')}
    ] %}
    {% set footerMenu = [
        {label: app.user|higherRole(true) ~ ' dashboard', url: path('admin'), isVisible: isAdminAccessGranted() ? true : false},
        {label: 'Login', url: path('app_login'), isVisible: app.user is null ? true : false},
        {label: 'Logout', url: path('app_logout'), isVisible: app.user is null ? false : true},
        {label: 'Become an author', url: path('author_register'), isVisible: app.user is null or (adminVisible is defined and adminVisible is same as(false)) ? true : false}
    ] %}  
    {% set footerSocials = [
        { link: '#', icon: 'icon-linkedin', color: null},
        { link: '#', icon: 'icon-github', color: null},
        { link: '#', icon: 'icon-stackoverflow', color: null}
] %}

{# Prepare #}

    {% set logoUrl = vich_uploader_asset(config('SITE_LOGO', true), 'fileFile') %}
    {% set logoFooterClass = 'logo-color-invert' %}
    {% set logoClass = null %}
    {% if whiteLogo is defined %} {# whiteLogo can be defined on each layout (or static pages) #}
        {% set logoClass = 'logo-color-invert' %}
    {% endif %}

    {% set isTextLogo = logo is null ? true : false %}
    {% set stickyClass = isHeaderSticky ? ' sticky' : ' no-sticky' %}
    {% set isHeaderAnimated = headerAnimation is defined and headerAnimation is not null ? true : false %}
    {% set animationClass = isHeaderAnimated ? ' ' + headerAnimation + ' animated' : '' %}
    {% set animationAttr = isHeaderAnimated ? ' data-animate="fadeInDown"' : '' %}

{# Header ===================================================== #}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">

    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="SemiColonWeb" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - {{ config('SITE_NAME')|striptags }}</title>
        <link rel="shortcut icon" href="{{ favicon }}" />

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

    </head>

    <body class="stretched"{#
        For page transitions, uncomment this: 
        // data-loader-html="<div><img src='{{ asset('build/images/theme/loader.svg') }}' alt='Loader'></div>" 
    #}>

        <div id="wrapper" class="clearfix">{# <-- Don't remove wrapper #}

{# Navigation ===================================================== #}

            <header id="header" class="transparent-header{{ stickyClass }}{{ animationClass }}"{{ animationAttr }}>
                <div id="header-wrap">
                    <div class="container">
                        <div class="header-row">
                            <a href="{{ path('home') }}">
                                {% if isTextLogo %}
                                    <h3 id="header-logo" class="py-3 my-3 {{ logoClass }}">{{ siteName|raw }}</h3>
                                {% else %}
                                    <img id="header-logo" src="{{ logoUrl }}" class="logo-header {{ logoClass }}" alt="{{ config('SITE_NAME') }}" style="height:{{ headerLogoHeight }}px">
                                {% endif %}
                            </a>
                            {% include "_menus/head_main.html.twig" with { menu: headerMenu } %}
                        </div>
                    </div>
                </div>
                <div class="header-wrap-clone"></div>
            </header>

{# View ===================================================== #}

			{% block hero %}{% endblock %}

			{% block main %}{% endblock %}
            
{# Footer ===================================================== #}

            <footer id="footer" class="dark border-0 clearfix">
                
                <div id="copyrights">
                    <div class="container clearfix">

                        <div class="w-100 text-center topmargin-sm">

                            <div class="row justify-content-between">
                                <div class="col-12 col-lg-auto text-center text-lg-start order-last order-lg-first">
                                    {% if isTextLogo %}
                                        <h4 class="footer-logo-text">{{ siteName|raw }}</h4>
                                    {% else %}
                                        <img src="{{ logoUrl }}" class="logo-footer {{ logoFooterClass }}" alt="Image" class="mb-4"><br>
                                    {% endif %}
                                    &copy; {{ config('SITE_NAME') }} {{ date()|date('Y') }}. All Rights Reserved.
                                </div>

                                <div class="col-12 col-lg-auto text-center text-lg-end">

                                    {% include "_elements/footer-menu.html.twig" with { menu: headerMenu } %}
                                    {% include "_elements/footer-menu.html.twig" with { menu: footerMenu } %}

                                    {% include "_elements/social-icons.html.twig" with { 
                                        type: 'footer',
                                        socials: footerSocials
                                    } %}
                                    
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>

            </footer>

        </div>{# <-- End of wrapper #}

        <div id="gotoTop" class="icon-angle-up bg-color"></div>
        
    </body>

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}

</html>