{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

	{% if post.mainImage is not null %}
		<div class="show_img">
			<img src="{{ vich_uploader_asset(post, 'mainImageFile') | imagine_filter('large') }}" alt="Image for post: {{ post.title }}">
		</div>
	{% endif %}

	<h1>{{ post.title }}</h1>

	<div class="show_data">
		<span>{{ post.createdAt|date('m/d/Y') }}</span>
		{% if post|hasApprovedAuthor %}
			<span> | By </span>
			<a href="{{ path('author_posts', {'id': post.author.id}) }}">{{ post.author.fullName }}</a>
		{% endif %}
	</div>

	{% if post.categories|length > 0 %}
		<div class="show_pills">
			<div class="pills-list">
				<span>In: </span>
				{% for category in post.categories %}
				<a class="pill" href="{{ path('post_category', {slug:category.slug}) }}">
					{{ category.label }}
				</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if post.headline is not null %}
		<div class="show_headline">
			{{ post.headline }}
		</div>
	{% endif %}

	<hr>

	<div class="show_content">
		{{ post.content|raw }}
	</div>

	{% if  post|hasApprovedAuthor %}
		<div class="show_author">
			{% include "_parts/card/author.html.twig" with {
			'author': post.author
			} %}
		</div>
	{% endif %}

	{% if config('SHOW_COMMENTS_ON_POST') %}
		{% include "_parts/comments_section.html.twig" with {postType: post} %}
	{% endif %}

{% endblock %}