{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}

<div class="show_img">
    <img src="{{ project.mainImage }}" alt="Image for project: {{ project.title }}">
</div>

<h1>{{ project.title }}</h1>

<div class="show_data">
    <span>{{ project.createdAt|date('m/d/Y') }}</span>
   <span> | By </span>
    <a href="{{ path('author_projects', {'id': project.author.id}) }}">{{ project.author.fullName }}</a>
</div>

<div class="show_pills">
    <div class="pills-list">
        <span>In: </span>
        {% for category in project.categories %}
            <a class="pill" href="{{ path('project_category', {slug:category.slug}) }}">
                {{ category.label }}
            </a>
        {% endfor %}
    </div>
</div>

<div class="card_pills">
    <div class="pills-list">
        <span>
            {% if project.codingLanguages|length > 1 %}
                Languages: 
            {% else %}
                Language:
            {% endif %}
        </span>
        {% for codingLanguage in project.codingLanguages %}
            <a class="pill" href="{{ path('coding_language', {'slug': codingLanguage.slug}) }}">
                {{ codingLanguage.label }}
            </a>
        {% endfor %}
    </div>
</div>

{% if project.description is not null %}
    <div class="show_description">
        {{ project.description }}
    </div>
{% endif %}

<hr>

<div class="show_content">
    {{ project.content }}
</div>

<div class="show_author">
    <div class="card author">
        {% include "_parts/author_card.html.twig" with {
            'author': project.author
        } %}
    </div>
</div>

{% endblock %}
