{% extends 'base.html.twig' %}

{% block title %}
	{{ project.title }}
{% endblock %}

{% block body %}

	<div class="show_img">
		<img src="{{ vich_uploader_asset(project, 'mainImageFile') | imagine_filter('large') }}" alt="Image for project: {{ project.title }}">
	</div>

	<h1>{{ project.title }}</h1>

	<div class="show_data">
		<span>{{ project.createdAt|date('m/d/Y') }}</span>
		{% if project|hasApprovedAuthor %}
			<span> | By </span>
			<a href="{{ path('author_projects', {'id': project.author.id}) }}">{{ project.author.fullName }}</a>
		{% endif %}
	</div>

	{% if project.categories|length > 0 %}
		<div class="show_pills">
			<div class="pills-list">
				<span>In:
				</span>
				{% for category in project.categories %}
					<a class="pill" href="{{ path('project_category', {slug:category.slug}) }}">
						{{ category.label }}
					</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if project.codingLanguages|length > 0 %}
		<div class="card_pills">
			<div class="pills-list">
				<span>
					{% if project.codingLanguages|length > 1 %}
						Languages:
					{% else %}
						Language:
					{% endif %}
				</span>
				{% for codingLanguage in project.codingLanguages %}
					<a class="pill" href="{{ path('coding_language_projects', {'slug': codingLanguage.slug}) }}">
						{{ codingLanguage.label }}
					</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	
	{% if project.headline is not null %}
		<div class="show_headline">
			{{ project.headline }}
		</div>
	{% endif %}

	<hr>

	<div class="show_content">
		{{ project.content|raw }}
	</div>

	{% if project|hasApprovedAuthor %}
		<div class="show_author">
			{% include "_parts/card/author.html.twig" with {
			'author': project.author
		} %}
		</div>
	{% endif %}

	{% include "_parts/comments_section.html.twig" with {postType: project} %}

{% endblock %}
