<div class="card lesson">

	<div class="card_title">
		<a href="{{ path('lesson_show', {id: lesson.id, slug: lesson.slug}) }}">
			<h3>{{ lesson.title }}</h3>
		</a>
	</div>

	<div class="card_data">
		<span>{{ lesson.createdAt|date('m/d/Y') }}</span>
		<span>
			| By
			<a href="{{ path('author_lessons', {'id': lesson.author.id}) }}">
				{{ lesson.author.fullName }}
			</a>
		</span>
	</div>

	<div class="card_pills">
		<div class="pills-list">
			{% for category in lesson.categories %}
				<a class="pill" href="{{ path('lesson_category', {slug:category.slug}) }}">
					{{ category.label }}
				</a>
			{% endfor %}
		</div>
	</div>

	<div class="card_pills">
		<div class="pills-list">
			<a class="pill" href="{{ path('coding_language_lessons', {'slug': lesson.codingLanguage.slug}) }}">
				{{ lesson.codingLanguage.label }}
			</a>
		</div>
	</div>

	<div class="card_extract">
		{% if lesson.description is defined %}
			{{ lesson.description }}
		{% else %}
			{{ lesson.content|extract }}
		{% endif %}
	</div>

	<div class="card_btn">
		<a href="{{ path('lesson_show', {id: lesson.id, slug: lesson.slug}) }}">
			<button class="btn-primary">See More</button>
		</a>
	</div>
</div>
