<div class="card post">

	{% if post.mainImage is not null %}
	<div class="show_img">
		<img src="{{ vich_uploader_asset(post, 'mainImageFile') }}" alt="Image for post: {{ post.title }}">
	</div>
	{% endif %}

	<div class="card_title">
		<a href="{{ path('post_show', {id: post.id, slug: post.slug}) }}">
			<h3>{{ post.title }}</h3>
		</a>
	</div>

	<div class="card_data">
		<span>{{ post.createdAt|date('m/d/Y') }}</span>
		{% if post|hasApprovedAuthor %}
			<span> | By </span>
			<a href="{{ path('author_posts', {'id': post.author.id}) }}">
				{{ post.author.fullName }}
			</a>
		{% endif %}
	</div>

	{% if post.categories|length > 0 %}
		<div class="card_pills">
			<div class="pills-list">
				{% for category in post.categories %}
				<a class="pill" href="{{ path('post_category', {slug:category.slug}) }}">
					{{ category.label }}
				</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<div class="card_extract">
		{% if post.headline is not null %}
			{{ post.headline }}
		{% else %}
			{{ post.content|extract }}
		{% endif %}
	</div>

	<div class="card_btn">
		<a href="{{ path('post_show', {id: post.id, slug: post.slug}) }}">
			<button class="btn-primary">See More</button>
		</a>
	</div>

</div>