<h2>Your request to become an Author has been accepted on "{{ config('SITE_NAME') }}"</h2>

<p>
    <span>Now on, you can connect to <a href="{{ url('admin') }}">your dashboard</a>, </span>
    <span>to write you first blogpost or lesson.</span>
</p>

<p>
    <b>Your registration details:</b>
</p><p>
	<b>Fullname:</b>
	{{ author.fullName }}
</p><p>
	<b>Email:</b>
	{{ author.user.email }}
</p><p>
	<b>Password:</b> *********
    <p>(If you lose you password, you will be able to recover it on our website.)</p>
</p><p>
	<b>Bio:</b>
    <br>
    {{ author.bio|nl2br }}
</p><p>
	<b>Contact email:</b>
	{{ author.contactEmail ?? '/' }}
</p><p>
	<b>Website:</b>
	{{ author.contactEmail ?? '/' }}
</p><p>
	<b>GitHub:</b>
	{{ author.github ?? '/' }}
</p><p>
	<b>StackOverflow:</b>
	{{ author.stackoverflow ?? '/' }}
</p><p>
	<b>LinkedIn:</b>
	{{ author.linkedIn ?? '/' }}
</p>
